In [16]:
import pandas as pd

full_data = pd.read_csv("CTA_daily_bus_totals_ORIGINAL.csv")
full_data.describe()

               rides
count  866074.000000
mean     6418.507987
std      6414.548143
min         0.000000
25%      1437.000000
50%      4100.000000
75%      9729.000000
max     45177.000000

In [31]:
# cutting the data down into segments from March 2019 to June 2019, Nov 2019 to end of Feb 2020, etc.
import pandas as pd
full_data["date"] = pd.to_datetime(full_data["date"])
copy = full_data.copy()
m19_start = pd.to_datetime("03/01/2019")
j19_end = pd.to_datetime("06/30/2019")
n19_start = pd.to_datetime("11/01/2019")
f20_end = pd.to_datetime("02/29/2020")
m20_start = pd.to_datetime("03/01/2020")
j20_end = pd.to_datetime("06/30/2020")


copypt3 = full_data[full_data["date"] <= j19_end]
copypt4 = full_data[full_data["date"] >= m19_start]

part1 = copypt3[copypt3["date"].isin(copypt4["date"])] # The March-June 2019 set

copypt1 = full_data[full_data["date"] >= n19_start]
copypt2 = full_data[full_data["date"] <= f20_end]

part2 = copypt1[copypt1["date"].isin(copypt2["date"])] # The Nov 2019 - Feb 2020 set

part3 = full_data[full_data["date"] >= m20_start] # March 2020 - June 2020

In [32]:
part1.describe()

              rides
count  13968.000000
mean    5771.108319
std     5278.719749
min        1.000000
25%     1465.000000
50%     4032.000000
75%     8978.250000
max    25533.000000

In [25]:
part2.describe()

              rides
count  13769.000000
mean    5506.186288
std     5104.127612
min        1.000000
25%     1405.000000
50%     3784.000000
75%     8523.000000
max    25796.000000

In [28]:
part3.describe()

              rides
count  13863.000000
mean    2386.650509
std     2915.598135
min        0.000000
25%      383.000000
50%     1417.000000
75%     3260.000000
max    24707.000000

In [33]:
#