In [1]:
import pandas as pd

full_data = pd.read_csv("CTA_daily_bus_totals_ORIGINAL.csv")
full_data.head()

  route        date daytype  rides
0     3  01/01/2001       U   7354
1     4  01/01/2001       U   9288
2     6  01/01/2001       U   6048
3     8  01/01/2001       U   6309
4     9  01/01/2001       U  11207

In [33]:
# cutting the data down into segments from March 2019 to June 2019, Nov 2019 to end of Feb 2020,
# March 2020 to June 2020

full_data["date"] = pd.to_datetime(full_data["date"])

m19_start = pd.to_datetime("03/01/2019")
j19_end = pd.to_datetime("06/30/2019")
n19_start = pd.to_datetime("11/01/2019")
f20_end = pd.to_datetime("02/29/2020")
m20_start = pd.to_datetime("03/01/2020")
j20_end = pd.to_datetime("06/30/2020")

part1 = full_data[full_data["date"] <= j19_end]
part2 = full_data[full_data["date"] >= n19_start] and full_data[full_data["date"] <= f20_end]
part3 = full_data[full_data["date"] >= m20_start] and full_data[full_data["date"] <= j20_end]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
print(pd.to_datetime("03/24/2020"))

2020-03-24 00:00:00

In [25]:
2020-3-24

1993