In [25]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_json("https://data.cityofchicago.org/resource/5neh-572f.json?$limit=200000&$offset=909000")

In [4]:
df.describe()

               rides     station_id
count  105884.000000  105884.000000
mean     3018.216378   40784.977900
std      3362.129606     460.673358
min         0.000000   40010.000000
25%       832.000000   40380.000000
50%      1820.000000   40780.000000
75%      3871.000000   41180.000000
max     29581.000000   41700.000000

In [5]:
df.head()

        date daytype  rides  station_id     stationname
0 2018-06-23       A   1668       41500  Montrose-Brown
1 2018-06-23       A  10358       40890  O'Hare Airport
2 2018-06-23       A   2267       40910   63rd-Dan Ryan
3 2018-06-23       A    275       40600         Kostner
4 2018-06-23       A    776       41670    Conservatory

In [6]:
#check for NaN
df["date"].isnull().sum()
df["rides"].isnull().sum()
df["stationname"].isnull().sum()
df["station_id"].isnull().sum()

0

In [7]:
df[df["rides"]==0]

             date daytype  rides  station_id          stationname
95     2018-06-23       A      0       40200      Randolph/Wabash
261    2018-06-24       U      0       40200      Randolph/Wabash
406    2018-06-25       W      0       40200      Randolph/Wabash
456    2018-06-26       W      0       40200      Randolph/Wabash
584    2018-06-27       W      0       40200      Randolph/Wabash
786    2018-06-28       W      0       40200      Randolph/Wabash
984    2018-06-29       W      0       40200      Randolph/Wabash
1003   2018-06-30       A      0       40200      Randolph/Wabash
1261   2018-07-01       U      0       40200      Randolph/Wabash
1405   2018-07-02       W      0       40200      Randolph/Wabash
1549   2018-07-03       W      0       40200      Randolph/Wabash
1693   2018-07-04       U      0       40200      Randolph/Wabash
1837   2018-07-05       W      0       40200      Randolph/Wabash
1981   2018-07-06       W      0       40200      Randolph/Wabash
2125   2018-07-07       A      0       40200      Randolph/Wabash
2269   2018-07-08       U      0       40200      Randolph/Wabash
2413   2018-07-09       W      0       40200      Randolph/Wabash
2557   2018-07-10       W      0       40200      Randolph/Wabash
2701   2018-07-11       W      0       40200      Randolph/Wabash
2845   2018-07-12       W      0       40200      Randolph/Wabash
2989   2018-07-13       W      0       40200      Randolph/Wabash
3133   2018-07-14       A      0       40200      Randolph/Wabash
3277   2018-07-15       U      0       40200      Randolph/Wabash
3421   2018-07-16       W      0       40200      Randolph/Wabash
3565   2018-07-17       W      0       40200      Randolph/Wabash
3709   2018-07-18       W      0       40200      Randolph/Wabash
3853   2018-07-19       W      0       40200      Randolph/Wabash
3997   2018-07-20       W      0       40200      Randolph/Wabash
4141   2018-07-21       A      0       40200      Randolph/Wabash
4285   2018-07-22       U      0       40200      Randolph/Wabash
...           ...     ...    ...         ...                  ...
101642 2020-06-01       W      0       41030                 Polk
101663 2020-06-01       W      0       40800             Sedgwick
101670 2020-06-01       W      0       40730     Washington/Wells
101672 2020-06-01       W      0       40710     Chicago/Franklin
101675 2020-06-01       W      0       40680         Adams/Wabash
101677 2020-06-01       W      0       40660             Armitage
101678 2020-06-01       W      0       40650       North/Clybourn
101685 2020-06-01       W      0       40560        Jackson/State
101706 2020-06-01       W      0       40330          Grand/State
101707 2020-06-01       W      0       40320   Division/Milwaukee
101713 2020-06-01       W      0       40260           State/Lake
101722 2020-06-01       W      0       40160    LaSalle/Van Buren
101733 2020-06-01       W      0       40040         Quincy/Wells
101737 2020-06-02       W      0       41700    Washington/Wabash
101742 2020-06-02       W      0       41510          Morgan-Lake
101744 2020-06-02       W      0       41490             Harrison
101747 2020-06-02       W      0       41450        Chicago/State
101751 2020-06-02       W      0       41410    Chicago/Milwaukee
101777 2020-06-02       W      0       41130       Halsted-Orange
101803 2020-06-02       W      0       40830                 18th
101806 2020-06-02       W      0       40800             Sedgwick
101820 2020-06-02       W      0       40660             Armitage
101821 2020-06-02       W      0       40650       North/Clybourn
101822 2020-06-02       W      0       40630       Clark/Division
101834 2020-06-02       W      0       40490      Grand/Milwaukee
101845 2020-06-02       W      0       40370  Washington/Dearborn
101849 2020-06-02       W      0       40330          Grand/State
101850 2020-06-02       W      0       40320   Division/Milwaukee
101856 2020-06-02       W      0       40260           State/Lake
101873 2020-06-02       W      0       40070     Jackson/Dearborn

[285 rows x 5 columns]

In [8]:
len(df[df["rides"]==0])

285

In [19]:
one_day=df[df["date"]=="2020-01-20"]

In [17]:
Ohare=df[df["stationname"]=="O'Hare Airport"]

In [18]:
%matplotlib
Ohare.plot.line(x="date",y="rides")
#O'Hare station closed in Oct 2019

Using matplotlib backend: MacOSX

In [29]:
%matplotlib
plt.barh(one_day["stationname"],one_day["rides"])
#O'Hare station closed in Oct 2019

Using matplotlib backend: MacOSX

In [ ]:
#ideas
#stations with greatest change in ridership March 2019 -> 2020
#group stations by geography/location

In [33]:
import mpl_toolkits.mplot3d 
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.scatter(df["stationname"], df["date"],df["rides"])

ValueError: could not convert string to float: 'Austin-Forest Park'

Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 388, in process
    proxy(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 228, in __call__
    return mtd(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/backend_bases.py", line 1830, in pick
    self.figure.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axes/_base.py", line 4131, in pick
    martist.Artist.pick(self, args[0])
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 416, in pick
    for a in self.get_children():
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 794, in get_children
    majorticks = self.get_major_ticks()
  File "/anaconda3/lib/python3.6/site-packages/mpl_toolkits/mplot3d/axis3d.py", line 148, in get_major_ticks
    ticks = maxis.XAxis.get_major_ticks(self, numticks)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 1396, in get_major_ticks
    numticks = len(self.get_major_locator()())
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1249, in __call__
    self.refresh()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1269, in refresh
    dmin, dmax = self.viewlim_to_dt()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1026, in viewlim_to_dt
    .format(vmin))
ValueError: view limit minimum -0.05 is less than 1 and is an invalid Matplotlib date value. This often happens if you pass a non-datetime value to an axis that has datetime units
Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 388, in process
    proxy(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 228, in __call__
    return mtd(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/backend_bases.py", line 1830, in pick
    self.figure.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axes/_base.py", line 4131, in pick
    martist.Artist.pick(self, args[0])
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 416, in pick
    for a in self.get_children():
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 794, in get_children
    majorticks = self.get_major_ticks()
  File "/anaconda3/lib/python3.6/site-packages/mpl_toolkits/mplot3d/axis3d.py", line 148, in get_major_ticks
    ticks = maxis.XAxis.get_major_ticks(self, numticks)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 1396, in get_major_ticks
    numticks = len(self.get_major_locator()())
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1249, in __call__
    self.refresh()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1269, in refresh
    dmin, dmax = self.viewlim_to_dt()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1026, in viewlim_to_dt
    .format(vmin))
ValueError: view limit minimum -0.05 is less than 1 and is an invalid Matplotlib date value. This often happens if you pass a non-datetime value to an axis that has datetime units
Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 388, in process
    proxy(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 228, in __call__
    return mtd(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/backend_bases.py", line 1830, in pick
    self.figure.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axes/_base.py", line 4131, in pick
    martist.Artist.pick(self, args[0])
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 416, in pick
    for a in self.get_children():
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 794, in get_children
    majorticks = self.get_major_ticks()
  File "/anaconda3/lib/python3.6/site-packages/mpl_toolkits/mplot3d/axis3d.py", line 148, in get_major_ticks
    ticks = maxis.XAxis.get_major_ticks(self, numticks)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 1396, in get_major_ticks
    numticks = len(self.get_major_locator()())
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1249, in __call__
    self.refresh()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1269, in refresh
    dmin, dmax = self.viewlim_to_dt()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1026, in viewlim_to_dt
    .format(vmin))
ValueError: view limit minimum -0.05 is less than 1 and is an invalid Matplotlib date value. This often happens if you pass a non-datetime value to an axis that has datetime units
Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 388, in process
    proxy(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/__init__.py", line 228, in __call__
    return mtd(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/backend_bases.py", line 1830, in pick
    self.figure.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axes/_base.py", line 4131, in pick
    martist.Artist.pick(self, args[0])
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 427, in pick
    a.pick(mouseevent)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/artist.py", line 416, in pick
    for a in self.get_children():
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 794, in get_children
    majorticks = self.get_major_ticks()
  File "/anaconda3/lib/python3.6/site-packages/mpl_toolkits/mplot3d/axis3d.py", line 148, in get_major_ticks
    ticks = maxis.XAxis.get_major_ticks(self, numticks)
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/axis.py", line 1396, in get_major_ticks
    numticks = len(self.get_major_locator()())
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1249, in __call__
    self.refresh()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1269, in refresh
    dmin, dmax = self.viewlim_to_dt()
  File "/anaconda3/lib/python3.6/site-packages/matplotlib/dates.py", line 1026, in viewlim_to_dt
    .format(vmin))
ValueError: view limit minimum -0.05 is less than 1 and is an invalid Matplotlib date value. This often happens if you pass a non-datetime value to an axis that has datetime units

In [38]:
df["stationname"].nunique()

144